name: lint
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"
      - name: Install lint tools
        run: |
          python -m pip install --upgrade pip
          pip install ruff pre-commit
      - name: Ruff check
        run: |
          ruff check .
          ruff format --check .
